@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Universal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --primary-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--primary-color);
}

.heading {
  font-size: 3.5rem;
  text-align: center;
}

/* Headers styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  transition: 0.5s;
}

.header img {
  height: 5rem;
}

.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-right: auto;
}

/* Navbar styles */
.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3rem;
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--primary-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before {
  background: var(--primary-color);
  opacity: 0.7;
}

.container {
  margin-top: 20rem;
}

/* Dark mode icon styles */
#darkMode-icon {
  font-size: 2.4rem;
  color: black;
  cursor: pointer;
}

/* Menu icon styles */
#menu-icon {
  display: none;
}

@media (max-width: 1480px) {
  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: pointer;
    margin-bottom: 0.1rem;
  }
}
